<body>
    <input placeholder="Search subjects" type="text" [(ngModel)] = "inp">
    <button  class = "button" type="submit"  (click) = "searchBySubject()" >GO</button>
    <h3>Trending subjects</h3>
    <ul class="list">
        <button routerLink="/trend-table">fun</button>
        <button  (click) = "searchSubject('chemistry')">Chemistry</button>
        <button (click)= "searchSubject('biology')">Biology</button>
        <button (click)= "searchSubject('architecture')">Architecture</button>
        <button (click)= "searchSubject('mathematics')">Mathematics</button>
        <button (click)= "searchSubject('poetry')">poetry</button>
    </ul>
</body>